body {
    max-width: 80ex;
    margin: auto;
    font-family: 'Source Sans Pro', 'Calibri', sans-serif;    
    text-align: left;
    text-justify: inter-word;
}

#content {
    margin: 0 2ex 0;
}

p, ul, ol {
    font-size: 14pt;
    line-height: 20pt;
    color: #303030;
    margin: 10pt 0 20pt 0;
}

li {
    line-height: 140%;
    color: #303030;
    margin: 10pt 0 0 0;
}

H1, H2, H3, H4, H5, H6 {
    font-family: 'Source Serif Pro', 'Calibri Light', sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 36pt;
}

H1 {
    font-size: 46pt;
    border-bottom: thick solid #b00000;
    line-height: 54pt;
    font-weight: bold;
}

H2 {
    font-size: 32pt;
    border-bottom: thin solid #b00000;
    margin: 20pt 0 10pt 0;
}

H3 {
    font-size: 24pt;
    margin: 20pt 0 10pt 0;
}

H4 {
    font-size: 20pt;
    margin: 20pt 0 10pt 0;
}

.todo {
    color: white;
    background: red;
    border-radius: 5px;
    border: 2px solid red;
    padding: 0 5px 0 5px;
    font-size: 50%;
    vertical-align: middle;
}

.done {
    color: white;
    background: green;
    border-radius: 5px;
    border: 2px solid green;
    padding: 0 5px 0 5px;
    font-size: 50%;
    vertical-align: middle;
}

/* unvisited link */
a:link {
    color: #403030;
}

/* visited link */
a:visited {
    color: #502020;
}

/* mouse over link */
a:hover {
    color: #AA0000;
}

/* selected link */
a:active {
    color: #CC0000;
}

#postamble p, #preamble p {
    font-size: 60%;
    color: gray;
    margin: .2em;
}