body {
    max-width: 80ex;
    margin: auto;
    font-family: 'Lato', 'Calibri', sans-serif;    
    text-align: left;
    text-justify: inter-word;
}

#content {
    margin: 0 2ex 0;
}

p, ul, ol {
    font-size: 100%;
    line-height: 140%;
    color: #303030;
    margin: 0.5ex 0 1ex 0;
}

li {
    line-height: 140%;
    color: #303030;
    margin: 0.5ex 0 1ex 0;
}

H1, H2, H3, H4, H5, H6 {
    font-family: 'Ubuntu Condensed', 'Calibri Light', sans-serif;
    font-weight: 400;
    text-align: left;
}

H1 {
    font-size: 400%;
    border-bottom: thick solid #d00000;
}

H2 {
    font-size: 240%;
    border-bottom: thin solid #b00000;
    margin: 3ex 0 1ex 0;
}

H3 {
    font-size: 190%;
    margin: 2ex 0 1ex 0;
}

H4 {
    font-size: 160%;
    margin: 1ex 0 0.5ex 0;
}

.todo {
    color: white;
    background: red;
    border-radius: 5px;
    border: 2px solid red;
    padding: 0 5px 0 5px;
    font-size: 50%;
    vertical-align: middle;
}

.done {
    color: white;
    background: green;
    border-radius: 5px;
    border: 2px solid green;
    padding: 0 5px 0 5px;
    font-size: 50%;
    vertical-align: middle;
}

/* unvisited link */
a:link {
    color: #403030;
}

/* visited link */
a:visited {
    color: #502020;
}

/* mouse over link */
a:hover {
    color: #AA0000;
}

/* selected link */
a:active {
    color: #CC0000;
}

#postamble p, #preamble p {
    font-size: 60%;
    color: gray;
    margin: .2em;
}