body {
    max-width: 80ex;
    margin: auto;
    font-family: 'Roboto', 'Calibri', sans-serif;    
    text-align: justify;
    text-justify: inter-word;
}

#content {
    margin: 0 2ex 0;
}

p, ul, ol {
    font-size: 100%;
    line-height: 140%;
    color: #101010;
    margin: 0.5ex 0 1ex 0;
}

li {
    line-height: 140%;
    color: #101010;
    margin: 0.5ex 0 1ex 0;
}

H1, H2, H3, H4, H5, H6 {
    font-family: 'Roboto Condensed', 'Calibri Light', sans-serif;
    font-weight: 400;
    text-align: left;
}

H1 {
    font-size: 400%;
    border-bottom: thick solid #a00000;
}

H2 {
    font-size: 240%;
    border-bottom: thin solid #a00000;
    margin: 3ex 0 1ex 0;
}

H3 {
    font-size: 190%;
    margin: 2ex 0 1ex 0;
}

H4 {
    font-size: 160%;
    margin: 1ex 0 0.5ex 0;
}

H5 {
    font-size: 130%;
    margin: 1ex 0 0.5ex 0;
}
